{% load static %}
<header>
    <nav class="navbar navbar-expand-lg border-bottom sticky-top mb-4">
        <div class="container-fluid">
            <a class="navbar-brand ps-3" href="/">
                <img src="{% static 'img/wubPog.png' %}" width="50" height="50" class="rounded-circle" alt="wubPog">
            </a>
            <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Vods
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/vods">Alle Vods</a></li>
                            <li><a class="dropdown-item" href="/vods/years">Jahresansicht</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Clips
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/clips/all">Alle Clips</a></li>
                            <li><a class="dropdown-item" href="/clips/top30">Top 30 Tage</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="/stats">Stats</a>
                    </li>
                </ul>
                <form class="d-flex search-form" action='{% url "search" %}' autocomplete="off">
                    <div class="autocomplete me-2">
                        <input id="search" class="form-control" type="search" placeholder="Suche [ / ]" aria-label="Suche" name="q" value="{{ searchquery }}" required>
                    </div>
                    <button class="btn" type="submit">Suche</button>
                </form>
                <span class="m-2 toggle-dark"></span>
            </div>
        </div>
    </nav>
</header>
