<div class="modal fade" id="hotkeyModal" tabindex="-1" aria-labelledby="hotkeyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="hotkeyModalLabel">Hotkeys</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 class="h6 mt-2">Global</h6>
                <div class="container">
                    <div class="row g-2">
                        <div class="col-5">
                            <kbd>H</kbd>
                        </div>
                        <div class="col-7">
                            Hotkeys
                        </div>
                        <div class="col-5">
                            <kbd>T</kbd>
                        </div>
                        <div class="col-7">
                            Toggle theme
                        </div>
                        <div class="col-5">
                            <kbd>/</kbd>
                        </div>
                        <div class="col-7">
                            Suche
                        </div>
                    </div>
                </div>
                <h6 class="h6 mt-4">Video player</h6>
                <div class="container">
                    <div class="row g-2">
                        <div class="col-5">
                            <kbd>Space</kbd>
                        </div>
                        <div class="col-7">
                            Play/Pause
                        </div>
                        <div class="col-5">
                            <kbd>F</kbd>
                        </div>
                        <div class="col-7">
                            Vollbild an/aus
                        </div>
                        <div class="col-5">
                            <kbd>M</kbd>
                        </div>
                        <div class="col-7">
                            Mute an/aus
                        </div>
                        <div class="col-5">
                            <kbd>Pfeil hoch</kbd>
                        </div>
                        <div class="col-7">
                            5% Lauter
                        </div>
                        <div class="col-5">
                            <kbd>Pfeil runter</kbd>
                        </div>
                        <div class="col-7">
                            5% Leiser
                        </div>
                        <div class="col-5">
                            <kbd>Pfeil links</kbd>
                        </div>
                        <div class="col-7">
                            10 Sek. zurück
                        </div>
                        <div class="col-5">
                            <kbd>Pfeil rechts</kbd>
                        </div>
                        <div class="col-7">
                            30 Sek. vor
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
