/* Rubik light */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/static/fonts/Rubik-Light.ttf) format('truetype');
}

/* Rubik regular */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/static/fonts/Rubik-Regular.ttf) format('truetype');
}

/* Rubik medium */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/static/fonts/Rubik-Medium.ttf) format('truetype');
}

/* Rubik Bold */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/static/fonts/Rubik-Bold.ttf) format('truetype');
}

/* Rubik Black */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/static/fonts/Rubik-Black.ttf) format('truetype');
}
