// fonts

@import "fonts.scss";


// bootstrap variable overwrite

$font-family-sans-serif: "Rubik",
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen,
Ubuntu,
Cantarell,
'Open Sans',
'Helvetica Neue',
sans-serif;
$container-max-widths: (sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1600px);
$card-border-width: 0px;
$grid-gutter-width: 0.5rem;


// bootstrap import

@import "bootstrap/scss/bootstrap";


// bootstrap overwrites

:root {
    --main-color: #222222;
    --bg-color: white;
    --accent-color: #b3b3b3;
    --hover-color: #eeeeee;
    --accordion-button: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    --toggler-icon: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    --border: 1px solid var(--main-color) !important;
    --border-radius: 2rem;
    --drop-shadow: 1px 1px 26px 0px rgba(0, 0, 0, 0.2);
    --stats-bg-1: #4E79A7;
    --stats-bg-2: #F28E2B;
    --stats-bg-3: #E15759;
    --stats-bg-4: #76B7B2;
    --text-muted: #6c757d;
    --input-checkbox: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    scrollbar-width: none;
}

.dark-mode {
    --main-color: #f1f1f1;
    --bg-color: #1a1a1a;
    --accent-color: #464646;
    --hover-color: #2c2c2c;
    --accordion-button: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    --toggler-icon: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    --border: 1px solid var(--main-color) !important;
    --drop-shadow: 1px 1px 26px 0px rgba(0, 0, 0, 0.36);
    --text-muted: #7f8a94;
    --input-checkbox: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

::-webkit-scrollbar {
    display: none;
}

body {
    color: var(--main-color) !important;
    background-color: var(--bg-color);
}

a {
    color: var(--main-color);

    &:hover {
        color: var(--main-color);
    }
}

input {
    background-color: var(--bg-color) !important;
}

hr {
    margin: 0.5rem;
}

.border-top {
    border-top: var(--border) !important;
}

.border-bottom {
    border-bottom: var(--border) !important;
}

.form-control {
    color: var(--main-color) !important;
    border: var(--border);

    &:focus,
    &:focus-visible {
        color: inherit;
        border-color: inherit;
        box-shadow: none;
    }
}

.navbar {
    background-color: var(--bg-color);
}

.navbar-collapse {
    background-color: var(--bg-color);
}

.navbar-brand img {
    transform: scaleX(-1);
}

.nav-link {
    color: var(--main-color) !important;
}

.navbar-toggler {
    border: var(--border);
    border-radius: var(--border-radius);

    .navbar-toggler-icon {
        background-image: var(--toggler-icon);
    }

    &:focus {
        box-shadow: none !important;
    }
}

.card {
    background-color: var(--bg-color);
}

.card-body {
    padding: 0.5rem 0;
}

.card-body a {
    text-decoration: none;
}

.card-body h5 {
    font-weight: 500;
}

.search-form {

    input,
    button {
        border-radius: var(--border-radius);
    }
}

.btn {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    color: var(--bg-color) !important;

    &:focus {
        box-shadow: none;
    }
}

.page-link {
    color: var(--main-color);
    background-color: var(--bg-color);

    &:hover {
        color: var(--bg-color);
        background-color: var(--main-color);
    }

    &:focus {
        color: var(--bg-color);
        background-color: var(--main-color);
        box-shadow: none;
    }
}

.page-item {
    &.active .page-link {
        background-color: var(--main-color);
        border-color: var(--main-color);
        color: var(--bg-color);
    }
}

.accordion-item {
    border-color: var(--main-color);
    color: var(--main-color);
    background-color: var(--bg-color);
}

.accordion-button {
    color: var(--main-color);
    background-color: var(--bg-color);

    &:hover {
        background-color: var(--hover-color);
    }

    &:focus {
        color: inherit;
        box-shadow: none;
    }

    &:not(.collapsed) {
        color: var(--bg-color);
        background-color: var(--main-color);
    }

    &::after {
        background-image: var(--accordion-button);
    }

    &:not(.collapsed)::after {
        background-image: var(--accordion-button);
        filter: invert(1);
    }
}

.text-muted {
    color: var(--text-muted) !important;
}

.form-check-input:checked[type="checkbox"] {
    background-image: var(--input-checkbox);
}

.form-check-label {
    color: var(--main-color);
    user-select: none;
}

.form-check-input {
    border-color: var(--main-color);

    &:focus {
        border-color: var(--main-color);
        box-shadow: none;
    }

    &:focus-visible {
        border-color: var(--main-color);
    }

    &:checked {
        border-color: var(--main-color);
    }
}

.share-input {
    padding: .25rem .5rem;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.dropdown-menu {
    background-color: var(--hover-color);
    border-radius: 1rem;
    width: 450px !important;
    max-width: 100vw;
}

#icon-clipboard {
    display: block;
}

#icon-clipboard-checked {
    display: none;
}


// custom classes

.emote-title {
    img {
        height: 1em;
    }

    &.large {
        img {
            margin: 0 0.5rem 0 0.5rem;
        }
    }
}

.timecode-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    background: black;
    padding: 0px 6px;
    border-radius: var(--border-radius);
}

.pagination-ellipsis {
    width: 35px !important;
}

.toggle-dark {
    font-size: 200%;

    &:before {
        content: '☀️';
    }

    &.active:before {
        content: '🌒';
    }
}

.autocomplete {
    width: 100%;
}

.autocomplete-items {
    position: absolute;
    border: var(--border);
    z-index: 99;
    width: fit-content;
    max-width: 413px;
    border-radius: 1rem;

    :not(div) {
        border: none;
    }

    div:first-child {
        border-radius: 1rem 1rem 0 0;
    }

    div:last-child {
        border-radius: 0 0 1rem 1rem;
    }

    div:only-child {
        border-radius: 1rem;
    }
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: var(--bg-color);
}

.autocomplete-items div:hover {
    background-color: var(--hover-color);
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.stats-box {
    height: 100%;
    border-radius: 1em;
    box-shadow: var(--drop-shadow);
    -webkit-box-shadow: var(--drop-shadow);
    -moz-box-shadow: var(--drop-shadow);

    &.bg-1 {
        background-color: var(--stats-bg-1);
    }

    &.bg-2 {
        background-color: var(--stats-bg-2);
    }

    &.bg-3 {
        background-color: var(--stats-bg-3);
    }

    &.bg-4 {
        background-color: var(--stats-bg-4);
    }
}

.share-button {
    margin-left: auto;
}


// video.js overwrites

.video-js .vjs-current-time,
.vjs-no-flex .vjs-current-time,
.vjs-time-divider,
.video-js .vjs-duration,
.vjs-no-flex .vjs-duration {
    display: block !important;
}

.vjs-remaining-time.vjs-time-control.vjs-control {
    display: none !important;
}

.vjs-control-bar {
    font-family: $font-family-sans-serif;
    font-size: 140%;
    background: rgb(0, 0, 0) !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.58) 20%, rgba(255, 255, 255, 0) 95%) !important;
}

.vjs-menu-button-popup .vjs-menu .vjs-menu-content,
.video-js .vjs-volume-vertical {
    background-color: rgba(0, 0, 0, 0.58) !important;
}

.vjs-big-play-centered .vjs-big-play-button {
    margin-top: -0.75em !important;
    margin-left: -0.8em !important;
}

.video-js .vjs-big-play-button {
    height: 1.5em !important;
    width: 1.5em !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
    color: rgba(26, 26, 26, 0.9) !important;
    border-radius: 1em !important;
    line-height: 1.4em !important;
}

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus {
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
}


// media queries

@media screen and (max-width: 767px) {
    #twitch-embed iframe {
        height: 300px;
    }

    .title-container {
        display: block !important;
    }

    .share-button {
        margin-bottom: 1rem;
    }
}


@media screen and (min-width: 768px) {
    #twitch-embed iframe {
        height: 400px;
    }
}

@media screen and (min-width: 992px) {
    #twitch-embed iframe {
        height: 536px;
    }
}

@media screen and (min-width: 1200px) {
    .container-navbar {
        margin-top: 1.5rem;
    }

    #twitch-embed iframe {
        height: 637px;
    }
}

@media screen and (min-width: 1400px) {
    #twitch-embed iframe {
        height: 895px;
    }
}
