{% load static %}
{% load custom_tags %}

<div class="row">
    {% for vod in vods %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2 pb-3">
        <div class="card card-rounded h-100">
            <div class="position-relative">
                <a href="/v/{{ vod.uuid }}">
                    <picture>
                        <source type="image/avif" srcset="{{ MEDIA_URL }}{{ vod.filename }}-sm.avif" class="card-img-top image-rounded-top" alt="{{ vod.filename }}" loading="lazy">
                        <img src="{{ MEDIA_URL }}{{ vod.filename }}-sm.jpg" class="card-img-top image-rounded-top" alt="{{ vod.filename }}" loading="lazy">
                    </picture>
                    <div class="timecode-overlay text-white">
                        {{ vod.duration|duration }}
                    </div>
                </a>
            </div>
            <div class="card-body">
                <a href="/v/{{ vod.uuid }}">
                    <p class="h5 m-0 emote-title">{{ vod.title|safe }}</p>
                </a>
                <p class="card-text text-muted">
                    {{ vod.date|date }} - {{ vod.date|time }} Uhr
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
