{% load static %}
{% load sass_tags %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Wubbl0rz Archiv</title>
    <link rel="icon" type="image/png" href="{% static 'img/keks.png' %}" />
    <link href="{% sass_src 'theme.scss' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container p-4">
        <h1 class="fw-bold pb-3">
            Kürzliche Streams
        </h1>
        {% include 'grid.html' %}
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">
                {% if vods.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?p=1">First</a>
                    </li>
                    <li class="page-item pagination-ellipsis text-center">
                        <span>&hellip;</span>
                    </li>
                {% endif %}
                {% for i in vods.paginator.page_range %}
                    {% if i <= vods.number|add:3 and i >= vods.number|add:-3 %}
                        {% if vods.number == i %}
                            <li class="page-item active">
                                <a class="page-link" href="?p={{ forloop.counter }}">{{ forloop.counter }}</a>
                            </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?p={{ forloop.counter }}">{{ forloop.counter }}</a>
                        </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if vods.has_next %}
                    <li class="page-item pagination-ellipsis text-center">
                        <span>&hellip;</span>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?p={{ vods.paginator.num_pages }}">Last</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>