{% load static %}
<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <meta name="description" content="Twtich VOD Archiv von m4xFPS/wubbl0rz">
    <meta property="og:locale" content="de_DE">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Wubbl0rz Archiv">
    <meta property="og:site_name" content="Wubbl0rz Archiv">
    <meta property="og:description" content="Twtich VOD Archiv von m4xFPS/wubbl0rz">
    <meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{{ request.path }}">
    <meta property="og:updated_time" content="{{ api_obj.date_vods_updated|date:'c' }}">
    <meta property="og:image" content="{% static 'img/og.jpg' %}">
    <meta property="og:image:url" content="{% static 'img/og.jpg' %}">
    <meta property="og:image:secure_url" content="{% static 'img/og.jpg' %}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content="Wubbl0rz Archiv">
    <meta name="twitter:title" content="Wubbl0rz Archiv ">
    <meta name="twitter:description" content="Twtich VOD Archiv von m4xFPS/wubbl0rz">
    <meta name="twitter:image" content="{% static 'img/og.jpg' %}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="Wubbl0rz Archiv">
    <title>Wubbl0rz Archiv</title>
    <script data-cfasync="false">
        // Set color mode before anyting else, to prevent flashing screen
        if (localStorage.getItem("dark-mode") == "true") {
            document.documentElement.classList.add("dark-mode");
            let currentModeState = true;
        }
    </script>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/wubPog.png' %}" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body class="d-flex flex-column h-100">
    {% include 'navbar.html' %}
    <main class="flex-shrink-0">
        <div class="container">
            {% if api_obj.is_live and vods.number == 1 %}
                <h1 class="display-3 fw-bolder pb-3">
                    Max ist live!
                </h1>
                <div class="row pb-3">
                    <div class="col">
                        <div id="twitch-embed"></div>
                    </div>
                </div>
            {% endif %}
            <h1 class="display-3 fw-bolder pb-3">
                Kürzliche Streams
            </h1>
            {% include 'grid.html' %}
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    {% if vods.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?p=1">Erste</a>
                        </li>
                        <li class="page-item pagination-ellipsis text-center">
                            <span>&hellip;</span>
                        </li>
                    {% endif %}
                    {% for i in vods.paginator.page_range %}
                        {% if i <= vods.number|add:3 and i >= vods.number|add:-3 %}
                            {% if vods.number == i %}
                                <li class="page-item active">
                                    <a class="page-link" href="?p={{ forloop.counter }}">{{ forloop.counter }}</a>
                                </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?p={{ forloop.counter }}">{{ forloop.counter }}</a>
                            </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if vods.has_next %}
                        <li class="page-item pagination-ellipsis text-center">
                            <span>&hellip;</span>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?p={{ vods.paginator.num_pages }}">Letzte</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </main>
    {% include 'footer.html' %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/dark-light.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        autocomplete(document.querySelector("#search"), {{ all_vod_titles|safe }});
    </script>
    {% if api_obj.is_live %}
        <script src="https://player.twitch.tv/js/embed/v1.js"></script>
        <script type="text/javascript">
            new Twitch.Player("twitch-embed", {
                channel: "wubbl0rz",
                width: "100%",
                height: "500px"
            });
        </script>
    {% endif %}
</body>

</html>
