{% load static %}
<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <meta property="og:locale" content="de_DE">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Wubbl0rz Archiv">
    <meta property="og:site_name" content="Wubbl0rz Archiv">
    <meta property="og:description" content="Twtich VOD Archiv von m4xFPS/wubbl0rz">
    <meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{{ request.path }}">
    <meta property="og:updated_time" content="{{ api_obj.date_vods_updated|date:'c' }}">
    <meta property="og:image" content="{% static 'img/og.jpg' %}">
    <meta property="og:image:url" content="{% static 'img/og.jpg' %}">
    <meta property="og:image:secure_url" content="{% static 'img/og.jpg' %}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content="Wubbl0rz Archiv">
    <meta name="twitter:title" content="Wubbl0rz Archiv ">
    <meta name="twitter:description" content="Twtich VOD Archiv von m4xFPS/wubbl0rz">
    <meta name="twitter:image" content="{% static 'img/og.jpg' %}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="Wubbl0rz Archiv">
    {% if request.GET.q %}
        <title>Suche: {{ request.GET.q }}</title>
    {% else %}
        <title>Suche</title>
    {% endif %}
    <script data-cfasync="false">
        // Set color mode before anyting else, to prevent flashing screen
        if (localStorage.getItem("dark-mode") == "true") {
            document.documentElement.classList.add("dark-mode");
            let currentModeState = true;
        }
    </script>
    <link rel="icon" type="image/png" href="{% static 'img/wubPog.png' %}" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body class="d-flex flex-column h-100">
    {% include 'navbar.html' %}
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="display-3 fw-bolder pb-3">
                Suche
            </h1>
            {% include 'grid.html' %}
        </div>
    </main>
    {% include 'footer.html' %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/dark-light.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        autocomplete(document.querySelector("#search"), {{ all_vod_titles|safe }});
    </script>
</body>

</html>
