{% load static %}
{% load sass_tags %}

<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Wubbl0rz Archiv</title>
    <link rel="icon" type="image/png" href="{% static 'img/keks.png' %}" />
    <link href="{% sass_src 'theme.scss' %}" rel="stylesheet" type="text/css" />
</head>
    
<body class="d-flex flex-column h-100">
    {% include 'navbar.html' %}
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="display-3 fw-bolder pb-3">
                Suche
            </h1>
            {% include 'grid.html' %}
        </div>
    </main>
    {% include 'footer.html' %}
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>