{% load static %}
{% load sass_tags %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Wubbl0rz Archiv</title>
    <link rel="icon" type="image/png" href="{% static 'img/keks.png' %}" />
    <link href="{% sass_src 'theme.scss' %}" rel="stylesheet" type="text/css" />
</head>
    
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1 class="display-3 fw-bolder pb-3">
            Suche
        </h1>
        {% include 'grid.html' %}
    </div>
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>