{% load static %}
{% load custom_tags %}
<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <meta property="og:locale" content="de_DE">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ vod.title }}">
    <meta property="og:site_name" content="Wubbl0rz Archiv">
    <meta property="og:description" content="{{ vod.date|date }} - {{ vod.date|time }} Uhr">
    <meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{{ request.path }}">
    <meta property="og:updated_time" content="{{ api_obj.date_vods_updated|date:'c' }}">
    <meta property="og:image" content="https://{{ request.META.HTTP_HOST }}{{ MEDIA_URL }}{{ vod.filename }}-lg.jpg">
    <meta property="og:image:url" content="https://{{ request.META.HTTP_HOST }}{{ MEDIA_URL }}{{ vod.filename }}-lg.jpg">
    <meta property="og:image:secure_url" content="https://{{ request.META.HTTP_HOST }}{{ MEDIA_URL }}{{ vod.filename }}-lg.jpg">
    <meta property="og:image:width" content="1520">
    <meta property="og:image:height" content="896">
    <meta property="og:image:alt" content="{{ vod.title }}">
    <meta name="twitter:title" content="{{ vod.title }} ">
    <meta name="twitter:description" content="{{ vod.date|date }} - {{ vod.date|time }} Uhr">
    <meta name="twitter:image" content="https://{{ request.META.HTTP_HOST }}{{ MEDIA_URL }}{{ vod.filename }}-lg.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="{{ vod.title }}">
    <title>{{ vod.title }}</title>
    <script data-cfasync="false">
        // Set color mode before anyting else, to prevent flashing screen
        if (localStorage.getItem("dark-mode") == "true") {
            document.documentElement.classList.add("dark-mode");
            let currentModeState = true;
        }
    </script>
    <link rel="icon" type="image/png" href="{% static 'img/wubPog.png' %}" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/video-js.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/videojs-seek-buttons.css' %}" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">
    {% include 'navbar.html' %}
    <main class="flex-shrink-0">
        <div class="container">
            <div class="mb-4">
                <div class="row">
                    <div class="col-12">
                        <video id="vod" class="video-js vjs-big-play-centered" controls preload="auto" width="100%" height="100%"
                            poster="{{ MEDIA_URL }}{{ vod.filename }}-lg.jpg"
                            data-setup='{"playbackRates": [0.5, 1, 1.25, 1.5, 1.75, 2]}'>
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a
                                web browser that
                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>
                    </div>
                </div>
            </div>
            <div class="card vod-infos mb-4">
                <div class="d-flex title-container">
                    <div>
                        <p class="display-6 fw-bolder emote-title large">
                            {% if vod.emote_title %}
                                {{ vod.emote_title|safe }}
                            {% else %}
                                {{ vod.title }}
                            {% endif %}
                        </p>
                        <p class="text-muted">
                            {{ vod.date|date }} - {{ vod.date|time }} Uhr
                        </p>        
                    </div>
                    <div class="share-button">
                        <div class="dropdown">
                            <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Teilen
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="dropdownMenuButton1" style="width: max-content;">
                                <li>
                                    <div class="input-group">
                                        <input type="text" class="form-control share-input" aria-label="Share Url">
                                        <button id="btn-copy-clipboard" class="btn">
                                            <svg id="icon-clipboard" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                            </svg>
                                            <svg id="icon-clipboard-checked" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="form-check mt-2">
                                        <input class="form-check-input" type="checkbox" id="share-checkbox">
                                        <label class="form-check-label" for="share-checkbox" id="share-at-text"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p>
                    <button class="btn btn-sm" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Mehr anzeigen
                    </button>
                    <a href="/v/{{ vod.uuid }}?dl=1" class="btn btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                        </svg>
                        Download
                    </a>
                </p>
                <div class="collapse text-muted" id="collapseExample">
                    Auslösung: {{ vod.resolution }}<br>
                    Bitrate: {{ vod.bitrate|filesizeformat }}it/s<br>
                    FPS: {{ vod.fps|floatformat:0 }}<br>
                    Größe: {{ vod.size|filesizeformat }}
                </div>
            </div>
        </div>
    </main>
    {% include 'footer.html' %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/dark-light.js' %}"></script>
    <script src="{% static 'js/video.min.js' %}"></script>
    <script src="{% static 'js/videojs-seek-buttons.min.js' %}"></script>
    <script>
        var options = {
            controlBar: {
                volumePanel: {
                    inline: false
                }
            },
        };
        var player = videojs('vod', options);
        player.src({
            src: "{{ MEDIA_URL|safe }}{{ vod.filename|safe }}.m3u8",
            type: "application/x-mpegURL"
        })
        player.fluid(true);
        player.seekButtons({
            forward: 30,
            back: 10
        });
        player.play();
    </script>
    <script src="{% static 'js/single-vod.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        autocomplete(document.querySelector("#search"), {{ all_vod_titles|safe }});
    </script>
</body>

</html>
