{% load static %}
{% load custom_tags %}
<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <meta property="og:locale" content="de_DE">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Wubbl0rz Archiv">
    <meta property="og:site_name" content="Wubbl0rz Archiv">
    <meta property="og:description" content="Twtich Vod Archiv von Wubbl0rz/m4xFPS">
    <meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{{ request.path }}">
    <meta property="og:updated_time" content="{{ api_obj.date_vods_updated|date:'c' }}">
    <meta property="og:image" content="{% static 'img/og.jpg' %}">
    <meta property="og:image:url" content="{% static 'img/og.jpg' %}">
    <meta property="og:image:secure_url" content="{% static 'img/og.jpg' %}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content="Wubbl0rz Archiv">
    <meta name="twitter:title" content="Wubbl0rz Archiv ">
    <meta name="twitter:description" content="Twtich Vod Archiv von Wubbl0rz/m4xFPS">
    <meta name="twitter:image" content="{% static 'img/og.jpg' %}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="Wubbl0rz Archiv">
    <title>Jahresansicht</title>
    <script data-cfasync="false">
        // Set color mode before anyting else, to prevent flashing screen
        if (localStorage.getItem("dark-mode") == "true") {
            document.documentElement.classList.add("dark-mode");
            let currentModeState = true;
        }
    </script>
    <link rel="icon" type="image/png" href="{% static 'img/wubPog.png' %}" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body class="d-flex flex-column h-100">
    {% include 'navbar.html' %}
    <main class="flex-shrink-0">
        <div class="container p-4">
            <h1 class="fw-bold pb-3">
                Jahresansicht
                <small class="text-muted">Gesamt: {{ vods|length }}</small>
            </h1>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                {% for year in grouped_years %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target='#panelsStayOpen-collapse-{{ year.year|date:"Y" }}' aria-expanded="true"
                            aria-controls='panelsStayOpen-collapse-{{ year.year|date:"Y" }}'>
                            <span class="fw-bold pe-1">{{ year.year|date:"Y" }}</span> ({{ year.c }})
                        </button>
                    </h2>
                    <div id='panelsStayOpen-collapse-{{ year.year|date:"Y" }}' class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <div class="container">
                                {% for vod in vods %}
                                    {% if vod.date|date:"Y" == year.year|date:"Y" %}
                                        <div class="row py-2">
                                            <div class="col-md-auto">
                                                {{ vod.date|date:"d.m.Y" }} - {{ vod.date|time }} Uhr
                                            </div>
                                            <div class="col order-first order-md-last fw-bold">
                                                <a href="/v/{{ vod.uuid }}" class="emote-title">
                                                    {% if vod.emote_title %}
                                                        {{ vod.emote_title|safe }}
                                                    {% else %}
                                                        {{ vod.title }}
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="col-md-auto order-sm-last">
                                                {{ vod.duration|duration }} h
                                            </div>
                                        </div>
                                        <hr class="my-2 mx-0">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    {% include 'footer.html' %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/dark-light.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        autocomplete(document.querySelector("#search"), {{ all_vod_titles|safe }});
    </script>
</body>

</html>
