{% load static %}
{% load custom_tags %}
{% load sass_tags %}
<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Wubbl0rz Archiv</title>
    <script>
        // Set color mode before anyting else, to prevent flashing screen
        if (localStorage.getItem("dark-mode") == "true") {
            document.documentElement.classList.add("dark-mode");
            let currentModeState = true;
        }
    </script>
    <link rel="icon" type="image/png" href="{% static 'img/wubPog.png' %}" />
    <link href="{% sass_src 'theme.scss' %}" rel="stylesheet" type="text/css" />
</head>

<body class="d-flex flex-column h-100">
    {% include 'navbar.html' %}
    <main class="flex-shrink-0">
        <div class="container p-4">
            <h1 class="fw-bold pb-3">
                Jahresansicht
                <small class="text-muted">Gesamt: {{ vods|length }}</small>
            </h1>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                {% for year in grouped_years %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target='#panelsStayOpen-collapse-{{ year.year|date:"Y" }}' aria-expanded="true"
                            aria-controls='panelsStayOpen-collapse-{{ year.year|date:"Y" }}'>
                            <span class="fw-bold pe-1">{{ year.year|date:"Y" }}</span> ({{ year.c }})
                        </button>
                    </h2>
                    <div id='panelsStayOpen-collapse-{{ year.year|date:"Y" }}' class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <div class="container">
                                {% for vod in vods %}
                                    {% if vod.date|date:"Y" == year.year|date:"Y" %}
                                        <div class="row py-2">
                                            <div class="col-md-auto">
                                                {{ vod.date|date:"d.m.Y" }} - {{ vod.date|time }} Uhr
                                            </div>
                                            <div class="col order-first order-md-last fw-bold">
                                                <a href="/v/{{ vod.uuid }}" class="emote-title">{{ vod.title|safe }}</a>
                                            </div>
                                            <div class="col-md-auto order-sm-last">
                                                {{ vod.duration|duration }} h
                                            </div>
                                        </div>
                                        <hr class="my-2 mx-0">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    {% include 'footer.html' %}
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/dark-light.js' %}"></script>
</body>

</html>